
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>万寿寺 - 蚂蜂窝</title>


<script type="text/javascript">
window.Env = {"hotel_mdd_info":{"lat":37.463819,"lng":121.447926,"zoom":0},"country_mddid":0,"is_cnmain":false,"search_keyword":"\u4e07\u5bff\u5bfa","search_seo_type":"poix","search_type":null,"search_req_k":null,"search_stid":null,"search_req_f":null,"search_req_d":null,"search_kt":1,"search_page":1,"search_total":2,"search_seid":null,"is_async_site_search":1,"WWW_HOST":"www.mafengwo.cn","IMG_HOST":"images.mafengwo.net","P_HOST":"passport.mafengwo.cn","P_HTTP":"https:\/\/passport.mafengwo.cn","UID":0,"CSTK":"6b99810a042eb63d926e7cd46b23f262_54a43e6e862891f847c2559288324509","GOOGLE_MAP_KEY":"AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ"};
</script>

<link href="http://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup^a1Q^1484628521.css" rel="stylesheet" type="text/css"/>

<link href="http://css.mafengwo.net/css/mfw-search/mfw-search.css?1484300486" rel="stylesheet" type="text/css"/>


<script language="javascript" src="http://js.mafengwo.net/js/cv/js+jquery-1.8.1.min:js+global+json2:js+M+Module:js+M+M:js+M+Log:js+m.statistics^ZFw^1489387530.js" type="text/javascript"></script>

</head>
<body>
    <div class="s-head">
        <div class="wid clearfix">
            <div class="s-head-logo">
                <a href="/"></a>
            </div>
            <div class="searchbar">
                <div class="search-wrapper">
                    <div class="search-input"><input name="q" type="text" id="_j_search_input" value="万寿寺" placeholder="搜目的地/攻略/酒店/自由行商品" autocomplete="off"></div>
                </div>
                <div class="search-button"><a role="button" href="javascript:" id="_j_search_button"><i class="icon-search"></i></a></div>
            </div>
            <div data-pagelet id="pagelet-block-160b73db6f824a543dacabcbf79e3e9f" class="" data-api="apps:user:pagelet:pageViewHeadInfo" data-params="{&quot;type&quot;:1}" data-async="1" data-controller="/js/pageletcommon/pageHeadUserInfoWWWNormal"></div>
        </div>
    </div>
    


<div class="mfw-search-main" id="_j_mfw_search_main">
    <div class="s-nav">
        <div class="wid">
            <div class="nav-list clearfix">
                <a href="http://www.mafengwo.cn/search/s.php?q=%E4%B8%87%E5%AF%BF%E5%AF%BA&t=&seid=&mxid=&mid=&mname=&kt=1" class="on _j_search_link" data-is-redirect="1" data-search-category="all">全部</a>
                <a href="http://www.mafengwo.cn/search/s.php?q=%E4%B8%87%E5%AF%BF%E5%AF%BA&t=mdd&seid=&mxid=&mid=&mname=&kt=1" class=" _j_search_link" data-is-redirect="1" data-search-category="mdd">目的地</a>
                <a href="http://www.mafengwo.cn/search/s.php?q=%E4%B8%87%E5%AF%BF%E5%AF%BA&t=article_gonglve&seid=&mxid=&mid=&mname=&kt=1" class=" _j_search_link" data-is-redirect="1" data-search-category="gonglve">旅游攻略</a>
                <a href="http://www.mafengwo.cn/search/s.php?q=%E4%B8%87%E5%AF%BF%E5%AF%BA&t=poi&seid=&mxid=&mid=&mname=&kt=1" class=" _j_search_link" data-is-redirect="1" data-search-category="poi">景点</a>
                <a href="http://www.mafengwo.cn/search/s.php?q=%E4%B8%87%E5%AF%BF%E5%AF%BA&t=cate&seid=&mxid=&mid=&mname=&kt=1" class=" _j_search_link" data-is-redirect="1" data-search-category="cate">美食</a>
                <a href="http://www.mafengwo.cn/search/s.php?q=%E4%B8%87%E5%AF%BF%E5%AF%BA&t=hotel&seid=&mxid=&mid=&mname=&kt=1" class=" _j_search_link" data-is-redirect="1" data-search-category="hotel">酒店</a>
                <a href="http://www.mafengwo.cn/search/s.php?q=%E4%B8%87%E5%AF%BF%E5%AF%BA&t=sales&seid=&mxid=&mid=&mname=&kt=1" class=" _j_search_link" data-is-redirect="1" data-search-category="sales">自由行商城</a>
                
                
                <a href="http://www.mafengwo.cn/search/s.php?q=%E4%B8%87%E5%AF%BF%E5%AF%BA&t=wenda&seid=&mxid=&mid=&mname=&kt=1" class=" _j_search_link" data-is-redirect="1" data-search-category="wenda">问答</a>
                <a href="http://www.mafengwo.cn/search/s.php?q=%E4%B8%87%E5%AF%BF%E5%AF%BA&t=info&seid=&mxid=&mid=&mname=&kt=1" class=" _j_search_link" data-is-redirect="1" data-search-category="info">游记</a>
                <a href="http://www.mafengwo.cn/search/s.php?q=%E4%B8%87%E5%AF%BF%E5%AF%BA&t=user&seid=&mxid=&mid=&mname=&kt=1" class=" _j_search_link" data-is-redirect="1" data-search-category="user">找人</a>
            </div>
        </div>
    </div>
    <div class="wid clearfix">
        <div class="ser-nums"></div>
        
        <div class="flt1 ser-lt" id="_j_search_result_left">
                                                                        <div class="_j_search_section" data-category="poi">
                <div class="att-list">
            <ul>
                                    <li>
                        <div class="clearfix">
                                                            <div class="flt1"><a href="http://www.mafengwo.cn/poi/642071.html" target="_blank" class="_j_search_link"><img src="http://a4-q.mafengwo.net/s6/M00/AB/45/wKgB4lJYPaaAR-GnAAcv1VMzXd466.jpeg?imageMogr2%2Fthumbnail%2F%21180x180r%2Fgravity%2FCenter%2Fcrop%2F%21180x180%2Fquality%2F90" style="width:150px;height:90px;"></a></div>
                                                        <div class="ct-text ">
                                <h3>
                                    <a href="http://www.mafengwo.cn/poi/642071.html" target="_blank" class="_j_search_link">景点 - 木塔<span class="sr-keyword">寺</span> </a>
                                </h3>
                                <p class="seg-desc">木塔<span class="sr-keyword">寺</span>，原名<span class="sr-keyword">万寿寺</span>，位于甘肃省张掖市县府南街，是张掖唯一遗存下来的佛塔。 木塔为张掖市五行塔之一。塔高32.8米，八面九级，每级八角...</p>
                                <ul class="seg-info-list clearfix">
                                    <li>
                                        <a href="http://www.mafengwo.cn/travel-scenic-spot/mafengwo/62809.html" target="_blank" class="_j_search_link">甘肃-张掖-甘州</a>
                                    </li>
                                    <li>
                                        <a href="http://www.mafengwo.cn/poi/642071.html" target="_blank" class="_j_search_link">点评(133)</a>
                                    </li>
                                    <li>
                                        <a href="http://www.mafengwo.cn/poi/642071.html" target="_blank" class="_j_search_link">游记(31)</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                                    <li>
                        <div class="clearfix">
                                                            <div class="flt1"><a href="http://www.mafengwo.cn/poi/3817.html" target="_blank" class="_j_search_link"><img src="http://n4-q.mafengwo.net/s5/M00/94/C2/wKgB3FEipumAFylnABJTH--WHd420.jpeg?imageMogr2%2Fthumbnail%2F%21180x180r%2Fgravity%2FCenter%2Fcrop%2F%21180x180%2Fquality%2F90" style="width:150px;height:90px;"></a></div>
                                                        <div class="ct-text ">
                                <h3>
                                    <a href="http://www.mafengwo.cn/poi/3817.html" target="_blank" class="_j_search_link">景点 - <span class="sr-keyword">万寿寺</span> </a>
                                </h3>
                                <p class="seg-desc"></p>
                                <ul class="seg-info-list clearfix">
                                    <li>
                                        <a href="http://www.mafengwo.cn/travel-scenic-spot/mafengwo/84718.html" target="_blank" class="_j_search_link">中国-北京-海淀</a>
                                    </li>
                                    <li>
                                        <a href="http://www.mafengwo.cn/poi/3817.html" target="_blank" class="_j_search_link">点评(46)</a>
                                    </li>
                                    <li>
                                        <a href="http://www.mafengwo.cn/poi/3817.html" target="_blank" class="_j_search_link">游记(3)</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                                    <li>
                        <div class="clearfix">
                                                            <div class="flt1"><a href="http://www.mafengwo.cn/poi/6894676.html" target="_blank" class="_j_search_link"><img src="http://c1-q.mafengwo.net/s6/M00/91/91/wKgB4lKtAwOAIGUhAAImJiLMcj498.jpeg?imageMogr2%2Fthumbnail%2F%21180x180r%2Fgravity%2FCenter%2Fcrop%2F%21180x180%2Fquality%2F90" style="width:150px;height:90px;"></a></div>
                                                        <div class="ct-text ">
                                <h3>
                                    <a href="http://www.mafengwo.cn/poi/6894676.html" target="_blank" class="_j_search_link">美食 - 麦香隆焖面(<span class="sr-keyword">万寿寺</span>店) </a>
                                </h3>
                                <p class="seg-desc"></p>
                                <ul class="seg-info-list clearfix">
                                    <li>
                                        <a href="http://www.mafengwo.cn/travel-scenic-spot/mafengwo/176648.html" target="_blank" class="_j_search_link">辽宁-沈阳-沈河区</a>
                                    </li>
                                    <li>
                                        <a href="http://www.mafengwo.cn/poi/6894676.html" target="_blank" class="_j_search_link">点评(8)</a>
                                    </li>
                                    <li>
                                        <a href="http://www.mafengwo.cn/poi/6894676.html" target="_blank" class="_j_search_link">游记(1)</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                            </ul>
        </div>
    </div>


                                                                                                                                
                    
                
                
                    
                
                                                                                                                                                                                                                                
            <div class="heg30"></div>
        <div class="exe-packg02 _j_search_section" data-category="sales">
                    <div class="clearfix ser-title">
                <h2>
                    <a href="http://www.mafengwo.cn/search/s.php?q=万寿寺&t=sales" class="_j_search_link" data-is-redirect="1">自由行商城</a>
                </h2>
                <a href="http://www.mafengwo.cn/search/s.php?q=万寿寺&t=sales" class="_j_search_link" data-is-redirect="1">更多自由行产品 &gt;&gt;</a>
            </div>
                            <ul class="seg-catalog-list clearfix">
                                    <li><a href="http://www.mafengwo.cn/search/s.php?t=sales&q=万寿寺" target="_blank">全部 (3189)</a></li>
                
                                    <li><a href="http://www.mafengwo.cn/search/s.php?t=sales&q=万寿寺&stid=20" target="_blank" class="_j_search_link">多日游 (1025)</a></li>
                                    <li><a href="http://www.mafengwo.cn/search/s.php?t=sales&q=万寿寺&stid=12" target="_blank" class="_j_search_link">一日游 (687)</a></li>
                                    <li><a href="http://www.mafengwo.cn/search/s.php?t=sales&q=万寿寺&stid=11" target="_blank" class="_j_search_link">景点门票 (422)</a></li>
                                    <li><a href="http://www.mafengwo.cn/search/s.php?t=sales&q=万寿寺&stid=6" target="_blank" class="_j_search_link">半自助游 (403)</a></li>
                                    <li><a href="http://www.mafengwo.cn/search/s.php?t=sales&q=万寿寺&stid=3" target="_blank" class="_j_search_link">机+酒 (168)</a></li>
                                    <li><a href="http://www.mafengwo.cn/search/s.php?t=sales&q=万寿寺&stid=25" target="_blank" class="_j_search_link">包车/拼车 (158)</a></li>
                                    <li><a href="http://www.mafengwo.cn/search/s.php?t=sales&q=万寿寺&stid=2" target="_blank" class="_j_search_link">酒店套餐 (102)</a></li>
                                    <li><a href="http://www.mafengwo.cn/search/s.php?t=sales&q=万寿寺&stid=17" target="_blank" class="_j_search_link">美食 (56)</a></li>
                                    <li><a href="http://www.mafengwo.cn/search/s.php?t=sales&q=万寿寺&stid=23" target="_blank" class="_j_search_link">接送机 (34)</a></li>
                                    <li><a href="http://www.mafengwo.cn/search/s.php?t=sales&q=万寿寺&stid=15" target="_blank" class="_j_search_link">当地体验 (33)</a></li>
                                    <li><a href="http://www.mafengwo.cn/search/s.php?t=sales&q=万寿寺&stid=29" target="_blank" class="_j_search_link">小包团 (25)</a></li>
                                    <li><a href="http://www.mafengwo.cn/search/s.php?t=sales&q=万寿寺&stid=1" target="_blank" class="_j_search_link">机票 (24)</a></li>
                                    <li><a href="http://www.mafengwo.cn/search/s.php?t=sales&q=万寿寺&stid=21" target="_blank" class="_j_search_link">WiFi (19)</a></li>
                                    <li><a href="http://www.mafengwo.cn/search/s.php?t=sales&q=万寿寺&stid=4" target="_blank" class="_j_search_link">签证 (13)</a></li>
                                    <li><a href="http://www.mafengwo.cn/search/s.php?t=sales&q=万寿寺&stid=28" target="_blank" class="_j_search_link">定制旅行 (10)</a></li>
                                    <li><a href="http://www.mafengwo.cn/search/s.php?t=sales&q=万寿寺&stid=13" target="_blank" class="_j_search_link">演出展览 (5)</a></li>
                                    <li><a href="http://www.mafengwo.cn/search/s.php?t=sales&q=万寿寺&stid=26" target="_blank" class="_j_search_link">交通卡/券 (5)</a></li>
                            </ul>
                <ul>
                            <li class="clearfix">
                    <div class="flt1"><a href="http://www.mafengwo.cn/sales/2148468.html" target="_blank" class="_j_search_link"><img src="http://c4-q.mafengwo.net/s10/M00/D3/78/wKgBZ1iuS5eAKk6eAAG7zHMBRHE17.jpeg?imageMogr2%2Fthumbnail%2F%21300x180r%2Fgravity%2FCenter%2Fcrop%2F%21300x180%2Fquality%2F90" style="width:150px;height:90px;"></a></div>
                    <div class="ct-text">
                        <h3>
                            <a href="http://www.mafengwo.cn/sales/2148468.html" target="_blank" class="_j_search_link">北京一日游</a>
                        </h3>
                        <p class="seg-desc">【北京出发】故宫+天坛+颐和园+<span class="sr-keyword">万寿寺</span>市区经典线路纯玩一日游</p>
                        <ul class="seg-info-list clearfix">
                                                            <li>
                                    <a href="http://www.mafengwo.cn/sales/2148468.html" target="_blank" class="_j_search_link">中国-北京</a>
                                </li>
                                                                                        <li>
                                    浏览(303)
                                </li>
                                                                                        <li>
                                    已售(4)
                                </li>
                                                        <li class="frt _j_hotel_ota">
                                <a href="http://www.mafengwo.cn/sales/2148468.html" target="_blank" class="_j_search_link"><span class="seg-price">¥188</span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                            <li class="clearfix">
                    <div class="flt1"><a href="http://www.mafengwo.cn/sales/337343.html" target="_blank" class="_j_search_link"><img src="http://b1-q.mafengwo.net/s10/M00/A6/4A/wKgBZ1ij-FOAIdT9AAYEq_Rd0NM95.jpeg?imageMogr2%2Fthumbnail%2F%21300x180r%2Fgravity%2FCenter%2Fcrop%2F%21300x180%2Fquality%2F90" style="width:150px;height:90px;"></a></div>
                    <div class="ct-text">
                        <h3>
                            <a href="http://www.mafengwo.cn/sales/337343.html" target="_blank" class="_j_search_link">日本签证</a>
                        </h3>
                        <p class="seg-desc">【上海送签】日本单次旅游签证（APP立减20+出签率99.99%月销8000/300元礼包出签即送/升级5<span class="sr-keyword">万</span>在职/可免存款押金/拒签退款/可加急/免机...</p>
                        <ul class="seg-info-list clearfix">
                                                            <li>
                                    <a href="http://www.mafengwo.cn/sales/337343.html" target="_blank" class="_j_search_link">亚洲-日本</a>
                                </li>
                                                                                        <li>
                                    浏览(252059)
                                </li>
                                                                                        <li>
                                    已售(8233)
                                </li>
                                                        <li class="frt _j_hotel_ota">
                                <a href="http://www.mafengwo.cn/sales/337343.html" target="_blank" class="_j_search_link"><span class="seg-price">¥269</span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                            <li class="clearfix">
                    <div class="flt1"><a href="http://www.mafengwo.cn/sales/2042980.html" target="_blank" class="_j_search_link"><img src="http://b4-q.mafengwo.net/s9/M00/05/C3/wKgBs1eJn1SATAVFAAEZy3k3wYQ43.jpeg?imageMogr2%2Fthumbnail%2F%21300x180r%2Fgravity%2FCenter%2Fcrop%2F%21300x180%2Fquality%2F90" style="width:150px;height:90px;"></a></div>
                    <div class="ct-text">
                        <h3>
                            <a href="http://www.mafengwo.cn/sales/2042980.html" target="_blank" class="_j_search_link">北京一日游</a>
                        </h3>
                        <p class="seg-desc">【魅力首都】超值纯玩故宫+天坛+颐和园+<span class="sr-keyword">万寿寺</span>一日游（五环内免费接+专业导游讲解）</p>
                        <ul class="seg-info-list clearfix">
                                                            <li>
                                    <a href="http://www.mafengwo.cn/sales/2042980.html" target="_blank" class="_j_search_link">中国-北京</a>
                                </li>
                                                                                        <li>
                                    浏览(4248)
                                </li>
                                                                                        <li>
                                    已售(324)
                                </li>
                                                        <li class="frt _j_hotel_ota">
                                <a href="http://www.mafengwo.cn/sales/2042980.html" target="_blank" class="_j_search_link"><span class="seg-price">¥258</span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                    </ul>
    </div>


                                
                    
                
                
                    
                
                                                                                                                                                                                                                            
                    
                
                
                    
                
                                                                <div class="heg30"></div>
        <div class="_j_search_section" data-category="wenda">
                    <div class="clearfix ser-title">
                <h2>
                    <a href="http://www.mafengwo.cn/search/s.php?q=万寿寺&amp;t=wenda" target="_blank" class="_j_search_link" data-is-redirect="1">问答</a>
                </h2>
                <a href="http://www.mafengwo.cn/search/s.php?q=万寿寺&amp;t=wenda" target="_blank" class="_j_search_link" data-is-redirect="1">更多问答 &gt;&gt;</a>
            </div>
                <div class="ans-box">
                            <div class="ct-text closeto">
                    <h3>
                        <a href="http://www.mafengwo.cn/wenda/detail-1616413.html" target="_blank" class="_j_search_link">咨询<span class="sr-keyword">万寿寺</span></a>
                    </h3>
                    <p class="seg-desc">http://baike.baidu.com/subview/88294/5896791.htm</p>
                    <ul class="seg-info-list clearfix">
                        <li>
                            <a href="http://www.mafengwo.cn/travel-scenic-spot/mafengwo/10065.html" target="_blank" class="_j_search_link">中国-北京</a>
                        </li>
                        <li>
                            回答(1)
                        </li>
                        <li>
                            有用(0)
                        </li>
                        <li>
                            同问(0)
                        </li>
                        <li>
                            2014年10月03日
                        </li>
                    </ul>
                </div>
                            <div class="ct-text closeto">
                    <h3>
                        <a href="http://www.mafengwo.cn/wenda/detail-3353904.html" target="_blank" class="_j_search_link">打算今年去北京 什么时候适合</a>
                    </h3>
                    <p class="seg-desc">秋季去啊，大街小巷的银杏树（三大银杏大道：雍和宫、钓鱼台、<span class="sr-keyword">万寿寺</span>），香山红叶（百望山和喇叭沟也可以），还有周边的延庆四季花海，更远些的张家口坝上，</p>
                    <ul class="seg-info-list clearfix">
                        <li>
                            <a href="http://www.mafengwo.cn/travel-scenic-spot/mafengwo/10065.html" target="_blank" class="_j_search_link">中国-北京</a>
                        </li>
                        <li>
                            回答(44)
                        </li>
                        <li>
                            有用(16)
                        </li>
                        <li>
                            同问(0)
                        </li>
                        <li>
                            2015年09月02日
                        </li>
                    </ul>
                </div>
                            <div class="ct-text closeto">
                    <h3>
                        <a href="http://www.mafengwo.cn/wenda/detail-3569908.html" target="_blank" class="_j_search_link">中秋假期2天玩峨眉山求路线</a>
                    </h3>
                    <p class="seg-desc">首先，金顶和<span class="sr-keyword">万寿寺</span>都有缆车的。建议行程：第一天到峨眉，游览报国<span class="sr-keyword">寺</span>，建议住清音平湖附近的民宿，湖景很美。我当时住的是峨眉山镜湖山庄，价格大概在100元/间，记得砍价。第二天：如果你不想在金顶住的话，建议...</p>
                    <ul class="seg-info-list clearfix">
                        <li>
                            <a href="http://www.mafengwo.cn/travel-scenic-spot/mafengwo/10143.html" target="_blank" class="_j_search_link">四川-峨眉山</a>
                        </li>
                        <li>
                            回答(2)
                        </li>
                        <li>
                            有用(1)
                        </li>
                        <li>
                            同问(0)
                        </li>
                        <li>
                            2015年09月17日
                        </li>
                    </ul>
                </div>
                    </div>
    </div>


                                                                                                                                                                                                            
                    
                
                
                    
                
                                                <div class="heg30"></div>
        <div class="_j_search_section" data-category="info">
                    <div class="clearfix ser-title">
                <h2>
                    <a href="http://www.mafengwo.cn/search/s.php?q=万寿寺&amp;t=info" target="_blank" class="_j_search_link" data-is-redirect="1">游记</a>
                </h2>
                <a href="http://www.mafengwo.cn/search/s.php?q=万寿寺&amp;t=info" target="_blank" class="_j_search_link" data-is-redirect="1">查看更多游记 &gt;&gt;</a>
            </div>
                <div class="att-list">
            <ul>
                                    <li>
                        <div class="clearfix">
                                                            <div class="flt1"><a href="http://www.mafengwo.cn/i/3451772.html" target="_blank" class="_j_search_link"><img src="http://a3-q.mafengwo.net/s8/M00/CC/2C/wKgBpVW-2qWAXSEUAAJgX3xcPAA36.jpeg?imageMogr2%2Fthumbnail%2F%21300x180r%2Fgravity%2FCenter%2Fcrop%2F%21300x180%2Fquality%2F90" style="width:150px;height:90px;"></a></div>
                                                        <div class="ct-text ">
                                <h3>
                                    <a href="http://www.mafengwo.cn/i/3451772.html" target="_blank" class="_j_search_link">北京<span class="sr-keyword">万寿寺</span></a>
                                </h3>
                                <p class="seg-desc"> 北京 <span class="sr-keyword">万寿寺</span>是一处清幽、肃穆的皇家庙宇，历经明清几代皇朝的大规模兴建，最终形成了集<span class="sr-keyword">寺</span>庙、行宫、园林于一体的皇家佛教胜...</p>
                                <ul class="seg-info-list clearfix">
                                                                            <li>
                                            <a href="http://www.mafengwo.cn/travel-scenic-spot/mafengwo/10065.html" target="_blank" class="_j_search_link">中国-北京</a>
                                        </li>
                                                                                                                <li>
                                            浏览(309)
                                        </li>
                                                                                                                <li>
                                            评论(4)
                                        </li>
                                                                        <li>
                                        作者:<a href="http://www.mafengwo.cn/u/136176.html" target="_blank" class="_j_search_link">水天</a>
                                    </li>
                                    <li>
                                        2015年08月03日
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                                    <li>
                        <div class="clearfix">
                                                            <div class="flt1"><a href="http://www.mafengwo.cn/i/2982001.html" target="_blank" class="_j_search_link"><img src="http://b4-q.mafengwo.net/s6/M00/7C/4C/wKgB4lL5sROAKSp8AAculvWu3qQ66.jpeg?imageMogr2%2Fthumbnail%2F%21300x180r%2Fgravity%2FCenter%2Fcrop%2F%21300x180%2Fquality%2F90" style="width:150px;height:90px;"></a></div>
                                                        <div class="ct-text ">
                                <h3>
                                    <a href="http://www.mafengwo.cn/i/2982001.html" target="_blank" class="_j_search_link">北京<span class="sr-keyword">万寿寺</span></a>
                                </h3>
                                <p class="seg-desc"> <span class="sr-keyword">万寿寺</span>始建于明朝，称聚瑟<span class="sr-keyword">寺</span>。明<span class="sr-keyword">万</span>历五年（1577年），<span class="sr-keyword">万</span>历皇帝之母慈圣李太后出资，司礼监冯保督建而成，改名<span class="sr-keyword">万寿寺</span>，成为皇...</p>
                                <ul class="seg-info-list clearfix">
                                                                            <li>
                                            <a href="http://www.mafengwo.cn/travel-scenic-spot/mafengwo/10065.html" target="_blank" class="_j_search_link">中国-北京</a>
                                        </li>
                                                                                                                <li>
                                            浏览(1555)
                                        </li>
                                                                                                                <li>
                                            评论(65)
                                        </li>
                                                                        <li>
                                        作者:<a href="http://www.mafengwo.cn/u/10210773.html" target="_blank" class="_j_search_link">高原</a>
                                    </li>
                                    <li>
                                        2014年02月11日
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                                    <li>
                        <div class="clearfix">
                                                            <div class="flt1"><a href="http://www.mafengwo.cn/i/2880893.html" target="_blank" class="_j_search_link"><img src="http://a3-q.mafengwo.net/s6/M00/B7/1E/wKgB4lJegL6ASx-wAAqrLzsWn5c11.jpeg?imageMogr2%2Fthumbnail%2F%21300x180r%2Fgravity%2FCenter%2Fcrop%2F%21300x180%2Fquality%2F90" style="width:150px;height:90px;"></a></div>
                                                        <div class="ct-text ">
                                <h3>
                                    <a href="http://www.mafengwo.cn/i/2880893.html" target="_blank" class="_j_search_link">忙里偷闲-<span class="sr-keyword">万寿寺</span></a>
                                </h3>
                                <p class="seg-desc"> <span class="sr-keyword">万寿寺</span>始建于明朝，称聚瑟<span class="sr-keyword">寺</span>。明<span class="sr-keyword">万</span>历五年（1577年），<span class="sr-keyword">万</span>历皇帝之母慈圣李太后出资，司礼监冯保督建而成，改名<span class="sr-keyword">万寿寺</span>，成为皇...</p>
                                <ul class="seg-info-list clearfix">
                                                                            <li>
                                            <a href="http://www.mafengwo.cn/travel-scenic-spot/mafengwo/10065.html" target="_blank" class="_j_search_link">中国-北京</a>
                                        </li>
                                                                                                                <li>
                                            浏览(782)
                                        </li>
                                                                                                                <li>
                                            评论(6)
                                        </li>
                                                                        <li>
                                        作者:<a href="http://www.mafengwo.cn/u/870912.html" target="_blank" class="_j_search_link">贺先生</a>
                                    </li>
                                    <li>
                                        2013年10月16日
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                            </ul>
        </div>
    </div>


                                                                                                                                                                                                                            
                    
                
                
                    
                
                                                                                <div class="heg30"></div>
        <div class="_j_search_section" data-category="user">
                    <div class="clearfix ser-title">
                <h2>
                    <a href="http://www.mafengwo.cn/search/s.php?q=万寿寺&t=user" class="_j_search_link" data-is-redirect="1">用户</a>
                </h2>
                <a href="http://www.mafengwo.cn/search/s.php?q=万寿寺&t=user" class="_j_search_link" data-is-redirect="1">更多用户 &gt;&gt;</a>
            </div>
                <ul class="user-list-row">
                            <li>
                    <div class="btns">
                        <a class="btn-follow _j_user_follow" href="javascript:;" data-touid="47506672" data-has-followed="0"><i></i>关注</a>
                        <a class="btn-msg _j_user_letter" href="javascript:;" data-touid="47506672">私信</a>
                    </div>
                    <span class="avatar"><a href="http://www.mafengwo.cn/u/47506672.html" target="_blank" class="_j_search_link"><img src="http://c2-q.mafengwo.net/s7/M00/4F/5D/wKgB6lR-0KeAU7U_AABCwIqbGgE63.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90" title="万寿寺" style="width:45px;height:45px;"></a></span>
                    <div class="base">
                        <span class="name"><a href="http://www.mafengwo.cn/u/47506672.html" target="_blank" class="_j_search_link">万寿寺</a></span>
                        <a class="gender boy" href="javascript:;"></a>                        <a class="grade" href="javascript:;">LV.1</a>
                    </div>
                    <div class="nums">
                        <a href="http://www.mafengwo.cn/u/47506672.html" target="_blank" class="_j_search_link">游记：0</a>
                        <a href="http://www.mafengwo.cn/wenda/u/47506672.html" target="_blank" class="_j_search_link">问答：0</a>
                        <a href="http://www.mafengwo.cn/path/47506672.html" target="_blank" class="_j_search_link">足迹：0</a>
                        <a href="http://www.mafengwo.cn/recnew/fans.php?uid=47506672" target="_blank" class="_j_search_link">粉丝：0</a>
                    </div>
                </li>
                            <li>
                    <div class="btns">
                        <a class="btn-follow _j_user_follow" href="javascript:;" data-touid="51673798" data-has-followed="0"><i></i>关注</a>
                        <a class="btn-msg _j_user_letter" href="javascript:;" data-touid="51673798">私信</a>
                    </div>
                    <span class="avatar"><a href="http://www.mafengwo.cn/u/51673798.html" target="_blank" class="_j_search_link"><img src="http://images.mafengwo.net/images/pp48.gif" title="万寿寺" style="width:45px;height:45px;"></a></span>
                    <div class="base">
                        <span class="name"><a href="http://www.mafengwo.cn/u/51673798.html" target="_blank" class="_j_search_link">万寿寺</a></span>
                                                <a class="grade" href="javascript:;">LV.1</a>
                    </div>
                    <div class="nums">
                        <a href="http://www.mafengwo.cn/u/51673798.html" target="_blank" class="_j_search_link">游记：0</a>
                        <a href="http://www.mafengwo.cn/wenda/u/51673798.html" target="_blank" class="_j_search_link">问答：0</a>
                        <a href="http://www.mafengwo.cn/path/51673798.html" target="_blank" class="_j_search_link">足迹：2</a>
                        <a href="http://www.mafengwo.cn/recnew/fans.php?uid=51673798" target="_blank" class="_j_search_link">粉丝：0</a>
                    </div>
                </li>
                    </ul>
    </div>

                                                                </div>
                <div class="m-pagination" id="_j_search_pagination" style="display:none;">
        </div>
    </div>
    
        <script id="_j_search_pagination_tmpl" type="text/x-jquery-tmpl">
        <span class="count">{{if pageTotal == 50}}最多显示{{else}}共{{/if}}${pageTotal}页 / ${total}条</span>
                {{if pageTotal > 1}}
                {{if currPage > 1}}
                {{if currPage != 0}}
                <a class="ti last _j_pageitem" href="javascript:;" data-page="1" rel="nofollow">首页</a>
                {{/if}}
                <a class="ti next _j_pageitem" href="javascript:;" data-page="${currPage - 1}" rel="nofollow">上一页</a>
                {{/if}}
                {{each(i, index) indexers}}
                {{if index == currPage}}
                <span class="this-page">${index}</span>
                {{else}}
                <a class="ti _j_pageitem" href="javascript:;" data-page="${index}" rel="nofollow">${index}</a>
                {{/if}}
                {{/each}}
                {{if currPage < pageTotal}}
                <a class="ti next _j_pageitem" href="javascript:;" data-page="${currPage + 1}" rel="nofollow">下一页</a>
                {{if pageTotal > 1}}
                <a class="ti last _j_pageitem" href="javascript:;" data-page="${pageTotal}" rel="nofollow">末页</a>
                {{/if}}
                {{/if}}
                {{/if}}
    </script>
    
</div>

<link href="http://css.mafengwo.net/css/mfw-footer.css?1478231953" rel="stylesheet" type="text/css"/>

<div id="footer">
	<div class="ft-content">
		<div class="ft-info clearfix">
    <dl class="ft-info-col ft-info-intro">
        <dt>中国领先的自由行服务平台</dt>
        <dd>覆盖全球200多个国家和地区</dd>
        <dd><strong>100,000,000</strong> 位旅行者</dd>
        <dd><strong>920,000</strong> 家国际酒店</dd>
        <dd><strong>21,000,000</strong> 条真实点评</dd>
        <dd><strong>382,000,000</strong> 次攻略下载</dd>
        <dd><a class="highlight" href="http://www.mafengwo.cn/activity/sales_report2015/index" target="_blank">中国旅游行业第一部“玩法”</a></dd>
    </dl>
    <dl class="ft-info-col ft-info-about">
        <dt>关于我们</dt>
        <dd><a href="http://www.mafengwo.cn/s/about.html" rel="nofollow">关于蚂蜂窝</a></dd>
        <dd><a href="http://www.mafengwo.cn/s/property.html" rel="nofollow">网络信息侵权通知指引</a></dd>
        <dd><a href="http://www.mafengwo.cn/s/private.html" rel="nofollow">隐私政策</a></dd>
        <dd><a href="http://www.mafengwo.cn/s/agreement.html" rel="nofollow">服务协议</a></dd>
        <dd><a href="http://www.mafengwo.cn/s/contact.html" rel="nofollow">联系我们</a></dd>
        <dd><a class="joinus highlight" title="蚂蜂窝团队招聘" target="_blank" href="http://www.mafengwo.cn/s/hr.html" rel="nofollow">加入蚂蜂窝</a></dd>
    </dl>
    <dl class="ft-info-col ft-info-service">
        <dt>旅行服务</dt>
        <dd>
            <ul class="clearfix">
                <li><a target="_blank" href="http://www.mafengwo.cn/gonglve/">旅游攻略</a></li>
                <li><a target="_blank" href="http://www.mafengwo.cn/hotel/">酒店预订</a></li>
                <li><a target="_blank" href="http://www.mafengwo.cn/sales/">旅游特价</a></li>
                <li><a target="_blank" href="http://zuche.mafengwo.cn/">国际租车</a></li>
                <li><a target="_blank" href="http://www.mafengwo.cn/wenda/">旅游问答</a></li>
                <li><a target="_blank" href="http://www.mafengwo.cn/insure/">旅游保险</a></li>
                <li><a target="_blank" href="http://z.mafengwo.cn">旅游指南</a></li>
                <li><a target="_blank" href="http://huoche.mafengwo.cn">订火车票</a></li>
                <li><a target="_blank" href="http://www.mafengwo.cn/travel-news/">旅游资讯</a></li>
                <li><a target="_blank" href="http://www.mafengwo.cn/app/intro/gonglve.php">APP下载</a></li>
                <li><a target="_blank" href="http://www.mafengwo.cn/sales/alliance.php" class="highlight">全球供应商入驻</a></li>
            </ul>
        </dd>
    </dl>
    <dl class="ft-info-col ft-info-qrcode">
        <dd>
            <span class="ft-qrcode-tejia"></span>
            <p>蚂蜂窝良品<br>官方服务号</p>
        </dd>
        <dd>
            <span class="ft-qrcode-weixin"></span>
            <p>蚂蜂窝自由行<br>官方订阅号</p>
        </dd>
    </dl>
    <dl class="ft-info-social">
        <dt>关注我们</dt>
        <dd>
            <a class="ft-social-weibo" target="_blank" href="http://weibo.com/mafengwovip" rel="nofollow"><i class="ft-social-icon"></i></a>
            <a class="ft-social-qqt" target="_blank" href="http://t.qq.com/mafengwovip" rel="nofollow" ><i class="ft-social-icon"></i></a>
            <a class="ft-social-qzone" target="_blank" href="http://1213600479.qzone.qq.com/" rel="nofollow"><i class="ft-social-icon"></i></a>
        </dd>
    </dl>
</div>

		<div class="ft-copyright">
    <div class="ft-safety">
        <a class="s-a" target="_blank" href="https://search.szfw.org/cert/l/CX20140627008255008321" id="___szfw_logo___"></a>
        <a class="s-b" href="https://ss.knet.cn/verifyseal.dll?sn=e130816110100420286o93000000&ct=df&a=1&pa=787189" target="_blank" rel="nofollow"></a>
        <a class="s-c" href="http://www.itrust.org.cn/Home/Index/itrust_certifi/wm/1669928206.html" target="_blank" rel="nofollow"></a>
    </div>
    <a href="http://www.mafengwo.cn"><i class="ft-mfw-logo"></i></a>
    <p>© 2017 Mafengwo.cn <a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP备11015476号</a> 京公网安备110105013401号 <a href="http://images.mafengwo.net/images/about/icp.jpg" target="_blank" rel="nofollow">京ICP证110318号</a></p>
    <p><a href="http://images.mafengwo.net/images/about/licence.jpg" target="_blank" rel="nofollow">营业执照</a> 新出网证(京)字242号 全国统一客服电话：<span class="highlight">4006-345-678</span><a target="_blank" href="http://www.mafengwo.cn/s/sitemap.html" class="highlight m_l_10">网站地图</a></p>
</div>
	</div>
</div>



<!-- 意见反馈依托的页面模板 -->
<script type="text/x-jquery-tmpl" id="_j_tmpl_feedback">
<div class="FeedBackA">
    <div class="FeedTit">意见反馈</div>
    <div class="FeedDesc">我们倾听你的声音</div>
    <div class="FeedForm" id="feedback-form">
        <textarea id="feedback-textarea" placeholder="欢迎提出宝贵的意见和建议。抱歉我们无法逐一回复，但我们会认真阅读，你的支持是对我们最大的鼓励和帮助"></textarea>
    </div>
    <div class="FeedAct" id="feedback-act"><a href="#" class="_j_submitfeedback" data-url="">提 交</a><span id="feedback-errinfo" class="err hide">内容不能为空！</span></div>
</div>
</script>



<script language="javascript" type="text/javascript">
if (typeof M !== "undefined" && typeof M.loadResource === "function") {
M.loadResource("http://js.mafengwo.net/js/cv/js+Dropdown:js+pageletcommon+pageHeadUserInfoWWWNormal:js+jquery.tmpl:js+M+module+InputListener:js+M+module+SuggestionXHR:js+M+module+DropList:js+M+module+Suggestion:js+M+module+MesSearchEvent:js+SiteSearch:js+search+header:js+M+module+Pagination:js+M+module+dialog+Layer:js+M+module+dialog+DialogBase:js+M+module+dialog+Dialog:js+M+module+dialog+alert:js+M+module+TopTip:js+hotel+mfwmap+mfwmap-util:js+hotel+mfwmap+mfwmap-event:js+hotel+mfwmap+mfwmap-runtime-google:js+hotel+mfwmap+mfwmap-runtime-amap:js+hotel+mfwmap+mfwmap-runtime-leaflet:js+hotel+mfwmap+mfwmap:js+M+module+Storage:js+xdate:js+hotel+module+BookingDate:js+letterTip:js+search+index:js+M+module+PageAdmin:js+M+module+Cookie:js+M+module+ResourceKeeper:js+jquery.jgrowl.min:js+AMessage:js+M+module+FrequencyVerifyControl:js+M+module+FrequencySystemVerify:js+ALogin:js+AFeedback:js+ACnzzGaLog:js+ARecruit:js+ALazyLoad^a11R^1489552560.js");
}
</script>

</body>
</html>
